In [7]:
%matplotlib inline
import pandas as pd

In [11]:
cast = pd.read_csv('D:\Topmentor\excel top\cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [154]:
titles = cast.title.unique()
num_movies = len(titles)
print(num_movies)

172294

In [146]:
copy_cast = pd.DataFrame(cast)

### What are the earliest two films listed in the titles dataframe?

In [13]:
cast = cast.sort_values(by='year')

In [18]:
earliest_flims = cast.head(2)
print("the earliest two films listed in the titles dataframe :")
print(earliest_flims)

the earliest two films listed in the titles dataframe :
              title  year             name     type  \
2514470  Miss Jerry  1894  Blanche Bayliss  actress
555929   Miss Jerry  1894   Chauncey Depew    actor

                                                 character   n
2514470               Miss Geraldine Holbrook (Miss Jerry) NaN
555929   Himself - the Director of the New York Central... NaN

### How many movies have the title "Hamlet"?

In [155]:
hamlet_movies = cast[cast.title == 'Hamlet']

In [156]:
num_hamlet_movies = len(hamlet_movies)
print("No of movies have the title Hamlet : ", num_hamlet_movies)

No of movies have the title Hamlet :  313

### How many movies are titled "North by Northwest"?

In [116]:
northwest_movies = cast[cast.title == 'North by Northwest']

In [117]:
num_northwest_movies = len(northwest_movies)
print("No of movies have the title North by Northwest : ",num_northwest_movies)

No of movies have the title North by Northwest :  112

### When was the first movie titled "Hamlet" made?

In [25]:
hamlet_movie = hamlet_movies.sort_values(by ='year')

In [38]:
first_hamlet_movie = hamlet_movies.head(1)
first_hamlet_movie_year = first_hamlet_movie['year'].values[0]
print("The first movie titled 'Hamlet' was made in the year:", first_hamlet_movie_year)

The first movie titled 'Hamlet' was made in the year: 1910

In [ ]:
print()

### List all of the "Treasure Island" movies from earliest to most recent.

In [157]:
treasure_island_movies = cast[cast.title == 'Treasure Island']

In [40]:
treasure_island_movies = treasure_island_movies.sort_values(by='year')
print("List of 'Treasure Island' movies from earliest to most recent:")
print(treasure_island_movies)

List of 'Treasure Island' movies from earliest to most recent:
                   title  year                name     type         character  \
830114   Treasure Island  1918      Charles Gorman    actor   Prologue Player
339256   Treasure Island  1918   Francis Carpenter    actor       Jim Hawkins
1417884  Treasure Island  1918     Herschel Mayall    actor   Prologue Player
3298306  Treasure Island  1918    Violet Radcliffe  actress  Long John Silver
1261579  Treasure Island  1918         Raymond Lee    actor          Bit Role
...                  ...   ...                 ...      ...               ...
445745   Treasure Island  1999         Becket Cook    actor          The Gent
307749   Treasure Island  1999        Bob Byington    actor            Thomas
3245250  Treasure Island  1999       Lisa Papineau  actress            Diedre
2931880  Treasure Island  1999  Stephanie Ittleson  actress            Stella
3507587  Treasure Island  1999    Guinevere Turner  actress            Evelyn

            n
830114    NaN
339256    1.0
1417884   NaN
3298306   3.0
1261579   NaN
...       ...
445745   13.0
307749   12.0
3245250  19.0
2931880   7.0
3507587  14.0

[190 rows x 6 columns]

### How many movies were made in the year 1950?

In [158]:
movies_in_1950 = cast[cast.year == 1950]

In [57]:
num_movies_in_1950 = len(movies_in_1950)
print("Number of movies made in the year 1950:", num_movies_in_1950)

Number of movies made in the year 1950: 22006

### How many movies were made in the year 1960?

In [159]:
movies_in_1960 = cast[cast.year == 1960]

In [60]:
num_movies_in_1960 = len(movies_in_1960)
print("Number of movies made in the year 1960:", num_movies_in_1960)

Number of movies made in the year 1960: 18456

### How many movies were made from 1950 through 1959?

In [160]:
movies_btw_50s = cast[(cast.year >= 1950) & (cast.year <=1959)]

In [62]:
num_movies_btw_50s = len(movies_btw_50s)
print("Number of movies made from 1950 through 1959:", num_movies_btw_50s)

Number of movies made from 1950 through 1959: 210986

### In what years has a movie titled "Batman" been released?

In [161]:
batman_movies = cast[cast.title == 'Batman']

In [65]:
batman_movies = batman_movies['year'].unique()
print("Years in which a movie titled 'Batman' has been released:")
print(batman_movies)

Years in which a movie titled 'Batman' has been released:
[1943 1989]

### How many roles were there in the movie "Inception"?

In [162]:
inception_movies = cast[cast.title == 'Inception']
roles_inception = inception_movies['character'].tolist()

In [82]:
num_roles_inception = len(roles_inception)

print("Number of roles in the movie 'Inception':", num_roles_inception)
print("List out the roles:")
print("-------------------")
for role in roles_inception:
    print(role)

Number of roles in the movie 'Inception': 77
List out the roles:
-------------------
Mal
LAX Passenger
Phillipa (5 years)
Bridge Sub Con
Phillipa (3 years)
Penrose Sub Con
Reporter
Italian Gambler
Elderly Bald Man
Bar Sub Con
Miles
Bridge Sub Con
Old Mal
Fischer's Jet Captain
Cab Driver
Stockbroker
Extra
LAX Passenger
Cobb
Browning
Mombasan Gambler
Bridge Sub Con
Mombasan Cashier
Stock Broker
Bridge Sub Con
Penrose Sub Con
Nash
Hotel Guest
A Passer-By
Denison
Bar Sub Con
Eames
LAX Passenger
Fischer's Driver
Robert Fischer
Ariadne
Japanese Landing Crew
Airport Patron
Blonde
Businessman
James (20 months)
Pedestrian
French Student
Tadashi
Street Person
Lawyer
Bar Sub Con
Saito's Bodyguard Officer
Businessman
Flight Attendant
Mombasa Casino Cashier
Lobby Sub Con
James (3 years)
Immigration Officer
Lobby Sub Con
Airport Patron
Lobby Sub Con
Thin Man
Penrose Sub Con
Saito's Attendant
Bridge Sub Con
Yusuf
Lobby Sub Con
Old Cobb
Bar Sub Con
Bar Sub Con
Bridge Sub Con
Japanese Security Guard
Bridge Sub Con
Mombasan Casino Staff
Lobby Sub Con
Pedestrian
Private Nurse
Maurice Fischer
Arthur
Airport Patron
Saito

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [164]:
inception_roles = cast[(cast.title == 'Inception') & cast.n.isna()]

In [84]:
num_roles_without_n = len(inception_roles)
print("Number of roles in the movie 'Inception' without an 'n' value:", num_roles_without_n)

Number of roles in the movie 'Inception' without an 'n' value: 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [165]:
inception_roles_with_n = cast[(cast.title == 'Inception') & cast.n.notna()]

In [86]:
    num_roles_with_n = len(inception_roles_with_n)
print("Number of roles in the movie 'Inception' without an 'n' value:", num_roles_with_n)

Number of roles in the movie 'Inception' without an 'n' value: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [166]:
northwest_cast = cast[(cast.title == 'North by Northwest') & cast.n.notna()]

In [103]:
northwest_cast['n']=pd.to_numeric(northwest_cast['n'])
northwest_cast = northwest_cast.sort_values(by='n')
print(northwest_cast[['name','character','n']])

                         name                    character     n
840374             Cary Grant           Roger O. Thornhill   1.0
3361396       Eva Marie Saint                  Eve Kendall   2.0
1404704           James Mason              Phillip Vandamm   3.0
3024085   Jessie Royce Landis              Clara Thornhill   4.0
343701         Leo G. Carroll                The Professor   5.0
2923056  Josephine Hutchinson                Mrs. Townsend   6.0
1634552           Philip Ober              Lester Townsend   7.0
1229083         Martin Landau                      Leonard   8.0
2357939         Adam Williams                     Valerian   9.0
1746383          Edward Platt              Victor Larrabee  10.0
642085      Robert Ellenstein                        Licht  11.0
2212083          Les Tremayne                   Auctioneer  12.0
447893        Philip Coolidge                    Dr. Cross  13.0
1454363         Patrick McVey               Sergeant Flamm  14.0
198496           Edward Binns               Captain Junket  15.0
1334726             Ken Lynch  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [167]:
sleuth_1972_cast = cast[(cast.title == 'Sleuth') & cast.n.notna()& (cast.year == 1972)]

In [107]:
# Convert the "n" column to numeric values (in case it's not already)
sleuth_1972_cast['n'] = pd.to_numeric(sleuth_1972_cast['n'])   
# Sort the "n" values in ascending order
sleuth_1972_cast = sleuth_1972_cast.sort_values(by='n')

print(sleuth_1972_cast[['year','name', 'character', 'n']])

         year                name                   character    n
1644328  1972    Laurence Olivier                 Andrew Wyke  1.0
314691   1972       Michael Caine                 Milo Tindle  2.0
360365   1972      Alec Cawthorne           Inspector Doppler  3.0
1412647  1972  John (II) Matthews  Detective Sergeant Tarrant  4.0
2619278  1972  Eve (III) Channing             Marguerite Wyke  5.0
1396572  1972        Teddy Martin      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [168]:
sleuth_2007_cast = cast[(cast.title == 'Sleuth') & cast.n.notna()& (cast.year == 2007)]

In [113]:
# Convert the "n" column to numeric values (in case it's not already)
sleuth_2007_cast['n'] = pd.to_numeric(sleuth_2007_cast['n'])   
# Sort the "n" values in ascending order
sleuth_2007_cast = sleuth_2007_cast.sort_values(by='n')

print(sleuth_2007_cast[['title','year','name', 'character', 'n']])

          title  year           name    character    n
314692   Sleuth  2007  Michael Caine       Andrew  1.0
1246855  Sleuth  2007       Jude Law         Milo  2.0
1741124  Sleuth  2007  Harold Pinter  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [118]:
hamlet_1921 = len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])
print("Number of credited roles in the silent 1921 version of 'Hamlet':", hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [123]:
hamlet_1996 =len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

In [124]:
print(hamlet_1996)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [125]:
num_hamlet_roles = len(cast[(cast.title == 'Hamlet')])
print(num_hamlet_roles)

313

### How many people have played an "Ophelia"?

In [127]:
num_ophelia_roles = len(cast[cast.character =='Ophelia'])
print(num_ophelia_roles)

111

### How many people have played a role called "The Dude"?

In [128]:
num_dude_roles = len(cast[cast.character =='The Dude'])
print(num_dude_roles)

18

### How many people have played a role called "The Stranger"?

In [129]:
num_stranger_roles = len(cast[cast.character =='The Stranger'])
print(num_stranger_roles)

208

### How many roles has Sidney Poitier played throughout his career?

In [131]:
num_sidney_poitier_acted = len(cast[cast.name == 'Sidney Poitier'])
print(num_sidney_poitier_acted)

43

### How many roles has Judi Dench played?

In [133]:
num_judi_dench_acted = len(cast[cast.name == 'Judi Dench'])
print(num_judi_dench_acted)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [135]:
supporting_roles = cast[(cast.name == 'Cary Grant') & (cast.year// 10 == 194) & (cast.n == 2)]
supporting_roles = supporting_roles.sort_values(by='year')
print(supporting_roles)

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [136]:
supporting_roles_cg = cast[(cast.name == 'Cary Grant') & (cast.year// 10 == 194) & (cast.n == 1)]
supporting_roles_cg = supporting_roles_cg.sort_values(by='year')
print(supporting_roles_cg)

                                       title  year        name   type  \
840353                       His Girl Friday  1940  Cary Grant  actor
840397               The Howards of Virginia  1940  Cary Grant  actor
840399                The Philadelphia Story  1940  Cary Grant  actor
840386                             Suspicion  1941  Cary Grant  actor
840377                 Once Upon a Honeymoon  1942  Cary Grant  actor
840401                  The Talk of the Town  1942  Cary Grant  actor
840344                     Destination Tokyo  1943  Cary Grant  actor
840369                             Mr. Lucky  1943  Cary Grant  actor
840370                             Mr. Lucky  1943  Cary Grant  actor
840336                  Arsenic and Old Lace  1944  Cary Grant  actor
840373             None But the Lonely Heart  1944  Cary Grant  actor
840378                      Once Upon a Time  1944  Cary Grant  actor
840375                             Notorious  1946  Cary Grant  actor
840372                         Night and Day  1946  Cary Grant  actor
840394                     The Bishop's Wife  1947  Cary Grant  actor
840393      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
840368  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
840348          Every Girl Should Be Married  1948  Cary Grant  actor
840357                I Was a Male War Bride  1949  Cary Grant  actor

                    character    n
840353           Walter Burns  1.0
840397            Matt Howard  1.0
840399     C. K. Dexter Haven  1.0
840386                Johnnie  1.0
840377  Patrick 'Pat' O'Toole  1.0
840401           Leopold Dilg  1.0
840344          Capt. Cassidy  1.0
840369              Joe Adams  1.0
840370        Joe Bascopolous  1.0
840336      Mortimer Brewster  1.0
840373             Ernie Mott  1.0
840378            Jerry Flynn  1.0
840375                 Devlin  1.0
840372            Cole Porter  1.0
840394                 Dudley  1.0
840393            Dick Nugent  1.0
840368          Jim Blandings  1.0
840348      Dr. Madison Brown  1.0
840357  Captain Henri Rochard  1.0

### How many roles were available for actors in the 1950s?

In [140]:
actor_roles_1950s = len(cast[(cast.year//10 == 195) & (cast.type == 'actor')])
print("No of roles : ")
print(actor_roles_1950s)

No of roles :
154727

### How many roles were available for actresses in the 1950s?

In [148]:
actress_roles_1950s = len(cast[(cast.year//10 == 195) & (cast.type == 'actress')])
print("No of roles : ")
print(actress_roles_1950s)

No of roles :
56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [150]:
leading_roles_1980 = len(cast[(cast.year <= 1980) & (cast.n == 1)])
print(leading_roles_1980)

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [151]:
non_leading_roles_1980 = len(cast[(cast.year <= 1980) & (cast.n != 1)])
print(non_leading_roles_1980)

1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [153]:
minor_leading_roles_1980 = len(cast[(cast.year <= 1980) & (cast.n.isnull())])
print(minor_leading_roles_1980)

438086